<article class="products">

  <section>
    <%= link_to 'Sahir', '/photos/sahir' %>
    <p>Photos of my son</p>
  </section>
<!--
  <section class="dead">
    <%= link_to 'Creative', '' %>
    <p>TODO</p>
  </section>
-->

</article>
