<article class="about">
  <%= image_tag 'asif-profile.png' %>

  <div class="about-text">
    <p>Hi there, I'm Asif Sheikh.</p>
    <p>I build software for the internet, and for small handheld devices that I probably use more than I should.</p>
    <p>When I'm not doing that, I am often found reading, drinking coffee, photographing, watching cricket, playing soccer, and occasionally rearranging my Netflix queue.</p>
  </div>

</article>
